@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Grotesk:wght@500;700&display=swap');
.orange{
    background-color:#FE9900;
} 
.orange-dark:hover{
background-color:#F15603;
}
.orange-text{
    color:#FE9900;
}
.background{
    background: #161D25;
}
.input{
    background:#222F3E;
}

.border{
    border-color: #202830;
    border: 2px solid #202830;
}